[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the OpenID Bugzilla Extension.
  #
  # Copyright (C) 2013 Miing.org. All Rights Reserved.
  #
  # Contributor(s):
  #   Miing.org <samuel.miing@gmail.com>
  #%]

[%# This is a list of all the possible user errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% IF error == "openid_account_too_powerful" %]
  [% title = "Account Too Powerful" %]
   Your account is a member of a group which is not permitted to use 
   OpenID to log in. Please log in with your [% terms.Bugzilla %] username
   and password.
   <br><br>
   (OpenID logins are disabled for accounts which are members of certain
    particularly sensitive groups, while we gain experience with the
    technology.)
[% END %]
